@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+JP:wght@200&display=swap');

:root {
    --primary-color: #4477b3;
    --secondary-color: #d9b207;
    --accent1-color: #084e04;
    --accent2-color: white;

    --heading-font: "Fredoka One", Lato, Helvetica, sans-serif;
    --nav-font: "Noto Sans JP", Lato, Helvetica, sans-serif;
    --paragraph-font: "Noto Sans JP", Lato, Helvetica, sans-serif;
}

body {
    background-color: var(--accent2-color);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 1.75em;
    line-height: 1.1em;
    padding: 20px;
    text-align: center;
}

p {
    color: white;
    font-family: var(--paragraph-font);
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 20px
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    text-align: center;
}

.logo {
    width: 200px;
    padding: 5px 0px 0px 7px;
    text-decoration: none;
}

nav {
    text-align: center;
    background-color: var(--secondary-color);
    font-family: var(--nav-font);
    text-decoration: none;
    padding: 10px;
}

nav a {
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 10px 15px;
    margin: 0px 16px;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

#hero {
    border: 5px solid var(--primary-color);
    border-top: 0px solid var(--secondary-color);
    padding-bottom: 30px;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    text-align: center;
}

#hero-msg h1 {
    font-size: 56px;
}

#hero-msg h4 {
    font-size: 24px
}

.button-box {
    text-align: center;
    font-family: var(--nav-font);
}

.book,
.join {
    background-color: var(--secondary-color);
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

.book:hover,
.join:hover {
    background-color: var(--primary-color);
    color: white;
}

main,
section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.river-card,
.camping-card,
.rapids-card {
    margin: 200px 0px;
}

.card-img {
    border: 5px solid var(--accent1-color);
}

.icon {
    width: 80px;
}

#background {
    height: auto;
    background-color: var(--accent1-color);
    margin: 100px 0px;
}

.msg {
    background-color: var(--primary-color);
    padding: 55px;
    margin: 100px 0px;
}

.msg h2,
.msg p {
    color: white;
}

.msg h2{
    letter-spacing: 2px;
}

.mountains {
    width: 725px;
    margin: 25px;
    box-shadow: 3px 6px 12px black;
}

.msg a:hover {
    background-color: white;
    color: var(--primary-color);
}

#info {
    font-size: 1em;
}

.social-media {
    padding: 12px;
}

.icons {
    width: 45px;
    height: 45px;
    /* box-shadow: 2px 60px 12px black; */
    /* background-color: var(--secondary-color); */
    padding: 5px;
    /* margin: 200px 100px 0 0; */
}

footer {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: max-content repeat(3, max-content);
    align-items: center;
    justify-content: center;
    line-height: 1.75em;
}

footer a {
    background-color: var(--secondary-color);
    font-family: var(--nav-font);
    color: var(--accent1-color);
    text-decoration: none;
    padding: 5px;
    margin: 8px 0 0 32px;
    border-radius: 5px;
}

footer a:hover {
    background-color: white;
    color: var(--primary-color);
    box-shadow: 2px 60px 120px rgba(0, 0, 0, 0.75);
}

.social a {
    padding: 50px 5px 5px 5px;
    margin: 0px 50px;
}

.social a:hover {
    background-color: white;
}