@import url('https://fonts.googleapis.com/css2?family=Genos:wght@500&family=Orbitron&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f2da;
    font-family: Orbitron;
    font-size: 17px;
}

::selection {
    color: white;
    background-color: #293df2;
}

header {
    text-align: center;
    margin: 0 auto;
}

#logo {
    height: 100px;
    width: 100px;
}


nav {
    text-align: center;
    background-color: #ff1100;
    color: white;
    padding: 10px;
    min-height: 23px;
}

nav a {
    text-align: center;
    background-color: #ff1100;
    color: white;
    padding: 10px 15px;
    margin: 0px 30px;
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #293df2;
}

.dropbtn {
    display: inline-block;
}

.dropdown-content {
    background-color: #ff1100;
    display: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding-bottom: 15px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    margin: 5px 15px;
}

.dropbtn:hover .dropdown-content {
    display: block;
}

div.controls {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(5, 1fr);
    padding-bottom: 5px;
}

.logo {
    grid-row: 1/6;
    padding-top: 10px;
}

#logo {
    aspect-ratio: 1/1;
    height: 100%;
    width: 20%;
}

.dis-drp {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    margin-top: 15px;
}

.search {
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    padding: 5px 0;
}

.filter-price {
    grid-column: 2;
    grid-row: 4;
    text-align: right;
    padding-bottom: 5px;
}

.filter-bar {
    width: 6%;
}

#search-btn {
    font-family: Orbitron;
}

.clear {
    grid-column: 2;
    grid-row: 5;
    text-align: right;
    padding-bottom: 5px;
}

#clear-btn {
    width: 15%;
    font-family: Orbitron;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border-radius: 50%;
    background-color: #ff1100;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 25px;
    height: 65px;
    aspect-ratio: 1;
}

#topBtn:hover {
    background-color: #293df2;
}

.pages {
    background-color: #ff1100;
}

img {
    /* width: 200px; */
    height: 200px;
}

.outer-grid,
.outer-grid-compare {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-gap: 20px; */
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
}

.product-box {
    padding: 5px;
    margin: 15px 15px;
    width: 350px;
    height: auto;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    font-family: Genos, Helvetica, sans-serif;
    font-size: 20px;
}

.product-name {
    min-height: 80px;
    height: auto;
}

.price {
    font-size: 25px;
}

.button {
    background-color: #f23729;
    color: white;
    border: none;
    min-width: 95%;
    border-radius: 5px;
    padding: 20px 0;
    margin: 25px 5px 5px 5px;
    font-family: Orbitron;
    font-size: 17px;
}

.button:hover {
    background-color: #293df2;
}

.link {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #ff1100;
    color: white;
    text-align: left;
    margin-top: 10px;
    padding: 15px 0.5em;
}

#info {
    font-size: 16px;
    padding-left: 50px;
}

@media screen and (max-width: 900px) {

    header {
        position: relative;
    }

    h1, h2, h3 {
        font-size: 1em;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    div.controls {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(4, 35px);
        margin-top: 10px;
    }

    .logo {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        padding: 0 10px 0 10px;
    }
    
    .dis-drp {
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .search {
        grid-column: 1;
        grid-row: 3;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .filter-price {
        grid-column: 1;
        grid-row: 4;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    
    .filter-bar {
        width: 15%;
    }
    
    .clear {
        grid-column: 1;
        grid-row: 5;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #clear-btn {
        width: 50%;
    }

    .outer-grid {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        justify-content: center;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}